APP_NAME=LibreNMS
APP_ENV=production
APP_DEBUG=false
APP_URL=http://192.168.67.2

DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=librenms
DB_USERNAME=librenms
DB_PASSWORD=CHANGE_ME_STRONG_PASSWORD

# Generate on install: sudo -u librenms /opt/librenms/lnms key:generate
APP_KEY=
